<%= render file: '/app/views/notes/_log_in.html.erb', layout: false %>

<h1>Pages#index</h1>

<%= text_field :post, :title, id:'search-queue', size: 35, value: 'future search queue' %>
<p>
  <%= link_to 'New Note', new_note_path if can? :create, Note %>
  <br>
  <%= link_to 'Show All Notes', notes_path %>
</p>

<p id='paste-area'>
</p>