<h1>Pages#index</h1>

<%= text_field :post, :title, id:'search-queue', size: 35, value: 'future search queue' %>
<p>
  <%= link_to 'New Note', new_note_path if can? :create, Note %>
</p>

<p id='paste-area'>
</p>